<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css">
    <title>Tabla Medicos</title>
</head>
<body>
<div class="container" id="vuejscrudapp">
    <div class="row">
        <div class="col-md-12 mt-5">
            <h1 class="text-center">MEDICOS</h1>
            <hr>
        </div>
    </div>

    <!--AGREGAR-->
    <div class="row justify-content-between">
      <div>
        <b-button @click="showModal('Agregar')" class="btn btn-success">Agregar Medico</b-button>
        <b-modal ref="Agregar" hide-footer title="Añadir Medico">
          <div>
            <form action="" @submit.prevent="onSubmit()">
              <div class="form-group">
                <label for="nombre">Nombre</label>
                <input type="text" class="form-control" v-model="nombreM" placeholder="Nombre">
              </div>
              <div class="form-group">
                <label for="apellidoP">Apellido Paterno</label>
                <input type="text" class="form-control" v-model="apellidoPM" placeholder="Apellido Paterno">
              </div>
              <div class="form-group">
                <label for="apellidoM">Apellido Materno</label>
                <input type="text" class="form-control" v-model="apellidoMM" placeholder="Apellido Materno">
              </div>
              <div class="form-group">
                <label for="dni">DNI</label>
                <input type="text" class="form-control" v-model="dniM" placeholder="DNI">
              </div>
              <div class="form-group">
                <label for="genero">Genero</label>
                <select v-model="generoM" class="form-control">
                  <option disabled value="">Seleccione</option>
                  <option>F</option>
                  <option>M</option>
              </select>
              </div>
              <div class="form-group">
                <label for="email">Email</label>
                <input type="text" class="form-control" v-model="emailM" placeholder="Email">
              </div>
              <div class="form-group">
                <label for="fnacimiento">Fecha de Nacimiento</label>
                <input type="date" class="form-control" v-model="fnacimientoM" placeholder="Fecha de Nacimiento">
              </div>
              <div class="form-group">
                <label for="numColegial">Numero Colegial</label>
                <input type="text" class="form-control" v-model="numColegialM" placeholder="Numero Colegial">
              </div>
              <div class="form-group">
                <label for="especialidad">Especialidad</label>
                <input type="text" class="form-control" v-model="especialidad" placeholder="Especialidad">
              </div>
              <br>
              <div class="form-group">
                <button type="submit" class="btn btn-primary">Añadir</button>
                <button @click="hideModal('Agregar')" class="btn btn-danger">Cancelar</button>
              </div>
            </form>
          </div>
        </b-modal>
      </div>
    </div>

    <!--MOSTRAR-->

    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Apellido Paterno</th>
                        <th>Apellido Materno</th>
                        <th>DNI</th>
                        <th>Género</th>
                        <th>Email</th>
                        <th>Nacimiento</th>
                        <th>Num Colegial</th>
                        <th>Especialidad</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="medic in medics" :key="medic.idMedico">
                        <td>{{ medic.idMedico }}</td>
                        <td>{{ medic.nombreM }}</td>
                        <td>{{ medic.apellidoPM }}</td>
                        <td>{{ medic.apellidoMM }}</td>
                        <td>{{ medic.dniM }}</td>
                        <td>{{ medic.generoM }}</td>
                        <td>{{ medic.emailM }}</td>
                        <td>{{ medic.fnacimientoM }}</td>
                        <td>{{ medic.numColegialM }}</td>
                        <td>{{ medic.especialidad }}</td>
                        <td>
                            <button @click="deleteMedico(medic.idMedico)" class="btn btn-danger">Eliminar</button>
                            <button @click="editMedico(medic.idMedico,medic.nombreM,medic.apellidoPM,medic.apellidoMM,medic.dniM
                            ,medic.generoM,medic.emailM,medic.fnacimientoM,medic.numColegialM,medic.especialidad)" class="btn btn-primary">Editar</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!--EDITAR-->
    <div>
      <b-modal ref="Editar" hide-footer title="Editar Medico">
        <div>
          <form action="" @submit.prevent="onUpdate()">
            <div class="form-group">
              <label for="idMedico">ID</label>
              <input type="text" class="form-control" :value="eidMedico" @input="eidMedico = $event.target.value" placeholder="ID" disabled>
            </div>
            <div class="form-group">
              <label for="nombre">Nombre</label>
              <input type="text" class="form-control" :value="enombreM" @input="enombreM = $event.target.value" placeholder="Nombre">
            </div>
            <div class="form-group">
              <label for="apellidoP">Apellido Paterno</label>
              <input type="text" class="form-control" :value="eapellidoPM" @input="eapellidoPM = $event.target.value" placeholder="Apellido Paterno">
            </div>
            <div class="form-group">
              <label for="apellidoM">Apellido Materno</label>
              <input type="text" class="form-control" :value="eapellidoMM" @input="eapellidoMM = $event.target.value" placeholder="Apellido Materno">
            </div>
            <div class="form-group">
              <label for="dni">DNI</label>
              <input type="text" class="form-control" :value="edniM" @input="edniM = $event.target.value" placeholder="DNI">
            </div>
            <div class="form-group">
              <label for="genero">Genero</label>
              <select :value="egeneroM" @input="egeneroM = $event.target.value" class="form-control">
                <option disabled value="">Seleccione</option>
                <option>F</option>
                <option>M</option>
            </div>
            <br>
            <div class="form-group">
              <label for="email">Email</label>
              <input type="text" class="form-control" :value="eemailM" @input="eemailM = $event.target.value" placeholder="Email">
            </div>
            <div class="form-group">
              <label for="fnacimiento">Fecha de Nacimiento</label>
              <input type="date" class="form-control" :value="efnacimientoM" @input="efnacimientoM = $event.target.value" placeholder="Fecha de Nacimiento">
            </div>
            <div class="form-group">
              <label for="numColegial">Numero Colegial</label>
              <input type="text" class="form-control" :value="enumColegialM" @input="enumColegialM = $event.target.value" placeholder="Numero Colegial">
            </div>
            <div class="form-group">
              <label for="especialidad">Especialidad</label>
              <input type="text" class="form-control" :value="eespecialidad" @input="eespecialidad = $event.target.value" placeholder="Especialidad">
            </div>
            <div class="form-group">
              <button class="btn btn-primary">Guardar</button>
            </div>
          </form>
        </div>
        <button variant="online danger" @click="hideModal('Editar')" class="btn btn-danger">Cancelar</button>
      </b-modal>
    </div>


</div>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap-vue/dist/bootstrap-vue.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
    var app = new Vue({
        el: '#vuejscrudapp',
        data: {
            idMedico: '',
            nombreM: '',
            apellidoPM: '',
            apellidoMM: '',
            dniM: '',
            generoM: '',
            emailM: '',
            fnacimientoM: '',
            numColegialM: '',
            especialidad: '',
            medics: [],
            eidMedico: '',
            enombreM: '',
            eapellidoPM: '',
            eapellidoMM: '',
            edniM: '',
            egeneroM: '',
            eemailM: '',
            efnacimientoM: '',
            enumColegialM: '',
            eespecialidad: ''
        },
        methods: {
            showModal(id) {
                this.$refs[id].show()
            },

            hideModal(id) {
                this.$refs[id].hide()
            },

            getMedicos() {
                axios.get('http://52.91.251.88:5000/medicos')
                    .then(response => {
                        console.log(response)
                        this.medics = response.data.Medicos
                    })
                    .catch(error => {
                        console.log(error)
                    })
            },

            onSubmit(){
                axios.post('http://52.91.251.88:5000/medico', {
                  nombreM: this.nombreM,
                  apellidoPM: this.apellidoPM,
                  apellidoMM: this.apellidoMM,
                  dniM: this.dniM,
                  generoM: this.generoM,
                  emailM: this.emailM,
                  fnacimientoM: this.fnacimientoM,
                  numColegialM: this.numColegialM,
                  especialidad: this.especialidad
                })
                .then(res => {
                  console.log(res)
                  alert("Medico agregado")
                  app.hideModal('Agregar')
                  app.getMedicos()
                })
                .catch(err => {
                  console.log(err)
                })
            }, 

            editMedico(idMedico, nombreM, apellidoPM, apellidoMM, dniM, generoM, emailM, fnacimientoM, numColegialM, especialidad){
              axios.get('http://52.91.251.88:5000/medico/' + idMedico)
              .then(res => {
                console.log(res)
                this.eidMedico = idMedico
                this.enombreM = nombreM
                this.eapellidoPM = apellidoPM
                this.eapellidoMM = apellidoMM
                this.edniM = dniM
                this.egeneroM = generoM
                this.eemailM = emailM
                this.efnacimientoM = fnacimientoM
                this.enumColegialM = numColegialM
                this.eespecialidad = especialidad
                app.showModal('Editar')
              })
              .catch(err => {
                console.log(err)
              })
            },

            onUpdate(){
              axios.put('http://52.91.251.88:5000/medico/' + this.eidMedico,{
                nombreM: this.enombreM,
                apellidoPM: this.eapellidoPM,
                apellidoMM: this.eapellidoMM,
                dniM: this.edniM,
                generoM: this.egeneroM,
                emailM: this.eemailM,
                fnacimientoM: this.efnacimientoM,
                numColegialM: this.enumColegialM,
                especialidad: this.eespecialidad
              })
              .then(res => {
                console.log(res)
                alert("Medico actualizado")
                this.enombreM = '';
                this.eapellidoPM = '';
                this.eapellidoMM = '';
                this.edniM = '';
                this.egeneroM = '';
                this.eemailM = '';
                this.efnacimientoM = '';
                this.enumColegialM = '';
                this.eespecialidad = '';

                app.hideModal('Editar')
                app.getMedicos()
              })
              .catch(err => {
                console.log(err)
              })
            }, 

            deleteMedico(idMedico){
              axios.delete('http://52.91.251.88:5000/medico/' + idMedico)
              .then(res => {
                console.log(res)
                alert("Medico eliminado")
                app.getMedicos()
              })
              .catch(err => {
                console.log(err)
              })
        },
      },

        mounted() {
            this.getMedicos()
        }
    })
</script>
</body>
</html>
