<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@2.21.2/dist/bootstrap-vue.min.css">
    <title>Tabla Pacientes</title>
</head>
<body>
<div class="container" id="vuejscrudapp">
    <div class="row">
        <div class="col-md-12 mt-5">
            <h1 class="text-center">PACIENTES</h1>
            <hr>
        </div>
    </div>
    <!--AGREGAR-->
    <div class="row justify-content-between">
        <div>
            <b-button @click="showModal('Agregar')" class="btn btn-success">Agregar Paciente</b-button>
            <b-modal ref="Agregar" hide-footer title="Añade Paciente">
                <div>
                    <form action="" @submit.prevent="onSubmit">
                        <div class="form-group">
                            <label for="">Nombre</label>
                            <input type="text" v-model="nombreP" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="">Apellido Paterno</label>
                            <input type="text" v-model="apellidoPP" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="">Apellido Materno</label>
                            <input type="text" v-model="apellidoMP" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="">DNI</label>
                            <input type="text" v-model="dni" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="">Genero</label>
                            <select v-model="generoP" class="form-control">
                                <option disabled value="">Seleccione</option>
                                <option>F</option>
                                <option>M</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="">Telefono</label>
                            <input type="text" v-model="telefonoP" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="">Fecha de Nacimiento</label>
                            <input type="date" v-model="fnacimiento" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="">Email</label>
                            <input type="text" v-model="email" class="form-control">
                        </div>
                        <br>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">Guardar</button>
                            <button @click="hideModal('Agregar')" class="btn btn-danger">Cancelar</button>
                        </div>
                    </form>
                </div>
            </b-modal>
        </div>
        <!--
        <div class="form-group">
            <b-form-select @change="cambiarTabla" v-model="tablaSeleccionada" class="form-control">
                <option disabled value="" >Seleccione Tabla</option>
                <option value="Pacientes.html">Tabla Paciente</option>
                <option value="Medicos.html">Tabla Medico</option>
                <option value="Citas.html">Tabla Cita</option>
                <option value="Tratamientos.html">Tabla Tratamiento</option>
            </b-form-select>
        </div>-->
    </div>

    <!--EDITAR-->
    <div>
        <b-modal ref="EditarModal"  hide-footer title="Editar Paciente">
            <div>
                <form action="" @submit.prevent="onUpdate">
                    <div class="form-group">
                        <label for="">ID Paciente</label>
                        <input type="text" :value="eidPaciente" class="form-control" disabled>
                      </div>
                    <div class="form-group">
                        <label for="">Nombre</label>
                        <input type="text" :value="enombreP" @input="enombreP = $event.target.value" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="">Apellido Paterno</label>
                        <input type="text" :value="eapellidoPP" @input="eapellidoPP = $event.target.value" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="">Apellido Materno</label>
                        <input type="text" :value="eapellidoMP" @input="eapellidoMP = $event.target.value" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="">DNI</label>
                        <input type="text" :value="edni" @input="edni = $event.target.value" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="">Genero</label>
                        <select :value="egeneroP" @input="egeneroP = $event.target.value" class="form-control">
                            <option disabled value="">Seleccione</option>
                            <option>F</option>
                            <option>M</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="">Telefono</label>
                        <input type="text" :value="etelefonoP" @input="etelefonoP = $event.target.value" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="">Fecha de Nacimiento</label>
                        <input type="date" :value="efnacimiento" @input="efnacimiento = $event.target.value" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="">Email</label>
                        <input type="text" :value="eemail" @input="eemail = $event.target.value" class="form-control">
                    </div>
                    <br>
                    <div class="form-group">
                        <button class="btn btn-primary">Guardar</button>
                        <button variant="online danger" @click="hideModal('EditarModal')" class="btn btn-danger">Cancelar</button>
                    </div>
                </form>
            </div>
        </b-modal>
    </div>

    <!--MOSTRAR-->
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Apellido Paterno</th>
                        <th>Apellido Materno</th>
                        <th>DNI</th>
                        <th>Género</th>
                        <th>Teléfono</th>
                        <th>Nacimiento</th>
                        <th>Email</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="patient in patients" :key="patient.idPaciente">
                        <td>{{ patient.idPaciente }}</td>
                        <td>{{ patient.nombreP }}</td>
                        <td>{{ patient.apellidoPP }}</td>
                        <td>{{ patient.apellidoMP }}</td>
                        <td>{{ patient.dni }}</td>
                        <td>{{ patient.generoP }}</td>
                        <td>{{ patient.telefonoP }}</td>
                        <td>{{ patient.fnacimiento }}</td>
                        <td>{{ patient.email }}</td>
                        <td>
                            <button @click="deletePaciente(patient.idPaciente)" class="btn btn-danger">Eliminar</button>
                            <button @click="editPaciente(patient.idPaciente, patient.nombreP, patient.apellidoPP, patient.apellidoMP, 
                            patient.dni, patient.generoP, patient.telefonoP,patient.fnacimiento,patient.email)" class="btn btn-primary">Editar</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap-vue/dist/bootstrap-vue.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
    var app = new Vue({
        el: '#vuejscrudapp',
        data: {
            idPaciente: '',
            nombreP: '',
            apellidoPP: '',
            apellidoMP: '',
            dni: '',
            generoP: '',
            telefonoP: '',
            fnacimiento: '',
            email: '',
            patients: [],
            eidPaciente: '',
            enombreP: '',
            eapellidoPP: '',
            eapellidoMP: '',
            edni: '',
            egeneroP: '',
            etelefonoP: '',
            efnacimiento: '',
            eemail: '',
        },
        methods: {
            showModal(id) {
                this.$refs[id].show()
            },

            hideModal(id) {
                this.$refs[id].hide()
            },

            onSubmit(){
                axios.post('http://52.91.251.88:5000/paciente', {
                    nombreP: this.nombreP,
                    apellidoPP: this.apellidoPP,
                    apellidoMP: this.apellidoMP,
                    dni: this.dni,
                    generoP: this.generoP,
                    telefonoP: this.telefonoP,
                    fnacimiento: this.fnacimiento,
                    email: this.email
                })
                .then(res => {
                    console.log(res)
                    alert("Paciente agregado")
                    app.hideModal('Agregar')
                    app.getPacientes()
                })
                .catch(err => {
                    console.log(err)
                })
            },

            getPacientes() {
                axios({
                    url:'http://52.91.251.88:5000/pacientes',
                    method: 'get',
                })
                .then(response => {
                    console.log(response)
                    this.patients = response.data.Pacientes
                })
                .catch(error => {
                    console.log(error)
                })
            },

            editPaciente(idPaciente, nombreP, apellidoPP, apellidoMP, dni, generoP, telefonoP, fnacimiento, email) {
                axios.get('http://52.91.251.88:5000/paciente/' + idPaciente)
                .then(res => {
                    console.log(res.data);
                    this.eidPaciente = idPaciente
                    this.enombreP = nombreP
                    this.eapellidoPP = apellidoPP
                    this.eapellidoMP = apellidoMP
                    this.edni = dni
                    this.egeneroP = generoP
                    this.etelefonoP = telefonoP
                    this.efnacimiento = fnacimiento
                    this.eemail = email
                    app.showModal('EditarModal');
                })
                .catch(err => {
                    console.log(err);
                });
            },

            onUpdate(){
                axios.put('http://52.91.251.88:5000/paciente/' + this.eidPaciente,{
                    nombreP: this.enombreP,
                    apellidoPP: this.eapellidoPP,
                    apellidoMP: this.eapellidoMP,
                    dni: this.edni,
                    generoP: this.egeneroP,
                    telefonoP: this.etelefonoP,
                    fnacimiento: this.efnacimiento,
                    email: this.eemail
                })
                .then(res =>{
                    console.log(res)
                    alert("Paciente actualizado");
                    this.eidPaciente = '';
                    this.enombreP = '';
                    this.eapellidoPP = '';
                    this.eapellidoMP = '';
                    this.edni = '';
                    this.egeneroP = '';
                    this.etelefonoP = '';
                    this.efnacimiento = '';
                    this.eemail = '';
                    app.hideModal('EditarModal');
                    app.getPacientes();
                })
                .catch(err => {
                    console.log(err)
                })
            },

            deletePaciente(idPaciente){
                axios.delete('http://52.91.251.88:5000/paciente/' + idPaciente)
                .then(res =>{
                    console.log(res)
                    alert("Paciente eliminado")
                    app.getPacientes()
                })
                .catch(err => {
                    console.log(err)
                })
            },
        },
        mounted:function() 
        {
            this.getPacientes()
        }    
    })
</script>
</body>
</html>
